VITE_EVENTS_API_URL=http://localhost:4001/api/events
VITE_AUTH_API_URL=http://localhost:4002/api/auth
VITE_VENUES_API_URL=http://localhost:4003/api/venues
VITE_NOTIFICATIONS_API_URL=http://localhost:4004/api/notifications
VITE_EQUIPMENT_API_URL=http://localhost:4005/api/equipment-requests
VITE_CHAT_API_URL=http://localhost:4006/api/chat
